body{
    background-color: #faebc4;
}
 
  .form-control {
    border-radius: 25px; /* Bo góc cho khung nhập bình luận */
  }
  .bar {
    background-color: #f7dc9c;
  }

  .sub-menu{
    background-color: #f7dc9c;

  }

  .sub-menu a{
    margin-bottom: 5px;
    border: white solid 1px;
    background-color: #faebc4;
    border-radius: 5px;
  }

  .navbar-nav {
    margin-left: auto; /* Đẩy menu sang phải */
}
.menu{
  width: 40px;
  border: none;
  border-radius: 0px;
}

.navbar {
        margin-top:0;
        background-color: #f7dc9c;
        box-shadow: 2px #ffb303;
        border-radius: 10px;
      }
.dropdown-menu{
    left: -110px;
    right: auto; 
    }
/* Tùy chỉnh giao diện (nếu cần) */
.input-group {
    margin-top: 20px; /* Khoảng cách trên */
    border-radius: 25px; /* Bo góc */
  }
  
  .form-control {
    border-right: none; /* Loại bỏ viền bên phải của ô input */
  }
  
  .btn-outline-secondary {
    border-radius: 0 25px 25px 0; /* Bo góc bên phải của nút */
    background-color: white;
    border:0;
  }
  .btn-outline-secondary:hover{
    background-color: red;
  }
  .cmt-1{
    border: 0;
    border-radius: 15px;
    background-color: #E9E5D7;
  }
  .bo-1{
    border-radius: 15px;
  }
  #sendcmt{
    border-radius: 50%;
  }
  
  #aaaa{
    width: 30px;
    height: 30px;
  }
  #sendcmt:hover img{
    width: 40px;
    height: 40px;
  }

  #inf a{
    text-decoration: none;
    color: black;
  }